@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background: ghostwhite;
}

header {
    padding: 32px;
    display: grid;
    grid-template-columns: 2fr 6fr;
    margin: 0 auto;
    width: 940px;
}

.links{
    margin: auto 0;
} 

.links a {
    padding: 30px;    
    text-decoration: none;
    line-height: 18px;
    font-family: Roboto;
    font-size: 16px;
    color: #111111;
    margin: auto 0;
}

.links a:hover {
    color: rgba(0, 0, 0, 0.4);
    transition: 200ms;
} 

.wrapper  {
    width: 940px;
    height: 366px;
    background: #FBDFDB;
    border-radius: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}

#title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    color: #111111;
}

#description {
    opacity: 0.7;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
}

.image {
    margin: auto auto 0;
}

/*CARDS SECTION*/

.principais p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    padding: 30px;
    padding-left: 0;
}

.cards, .principais {
    max-width: 940px;
    margin: auto auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

section .card {
    background-color: var(--color-green);
    max-width: 600px;
}

.foto img {
    width: 100%;
    border-radius: 15px;
}

.receita p {
    font-family: Roboto;
    font-size: 18px;
    color: #111111; 
    margin: 10px 0;
}

.autor p {
    font-family: Roboto;
    font-size: 14px;
    color: #777777;
}

/* FOOTER */

footer {
    background: #EEEEEE;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 15px;
    margin-top: 50px;
}

footer p {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
    text-align: center;
}






