<!DOCTYPE html>
<html>
    <head>

            {% block head %}
                <title>Foodfy</title>
                <link rel="stylesheet" href="">
            {% endblock %}
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/imagens/logo.png" alt="Foodfy logo">
                </a>
            </div>

            <div class="links">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </header>
        
        {% block content %} {% endblock %}
    </body>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</html>