{% extends "layout.njk" %}

    {% block head %}
        <title>Foodfy</title>
        <link rel="stylesheet" href="/receitas.css">
    {% endblock %}
    
    {% block content %}
        <section class="cards">

            <div class="card" id="01">
                <div class="foto">
                    <img src="/imagens/burger.png" alt="Hamburger">
                </div>

                <div class="receita">
                    <p>Triplo bacon burger</p>
                </div>

                <div class="autor">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card" id="02">
                <div class="foto">
                    <img src="/imagens/pizza.png" alt="Pizza">
                </div>

                <div class="receita">
                    <p>Pizza 4 estações</p>
                </div>

                <div class="autor">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card" id="03">
                <div class="foto">
                    <img src="/imagens/espaguete.png" alt="Espaguete">
                </div>

                <div class="receita">
                    <p>Espaguete ao alho</p>
                </div>

                <div class="autor">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="04">
                <div class="foto">
                    <img src="/imagens/lasanha.png" alt="Lasanha">
                </div>

                <div class="receita">
                    <p>Lasanha mac n’ cheese</p>
                </div>

                <div class="autor">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="05">
                <div class="foto">
                    <img src="/imagens/doce.png" alt="Docinhos">
                </div>

                <div class="receita">
                    <p>Docinhos pão-do-céu</p>
                </div>

                <div class="autor">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card" id="06">
                <div class="foto">
                    <img src="/imagens/asinhas.png" alt="Asinhas">
                </div>

                <div class="receita">
                    <p>Asinhas de frango ao barbecue</p>
                </div>

                <div class="autor">
                    <p>por Vania Steroski</p>
                </div>
            </div>

            <div class="card" id="07">
                <div class="foto">
                    <img src="/imagens/burger.png" alt="Hamburger">
                </div>

                <div class="receita">
                    <p>Triplo bacon burger</p>
                </div>

                <div class="autor">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card" id="08">
                <div class="foto">
                    <img src="/imagens/pizza.png" alt="Pizza">
                </div>

                <div class="receita">
                    <p>Pizza 4 estações</p>
                </div>

                <div class="autor">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card" id="09">
                <div class="foto">
                    <img src="/imagens/espaguete.png" alt="Espaguete">
                </div>

                <div class="receita">
                    <p>Espaguete ao alho</p>
                </div>

                <div class="autor">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="10">
                <div class="foto">
                    <img src="/imagens/lasanha.png" alt="Lasanha">
                </div>

                <div class="receita">
                    <p>Lasanha mac n’ cheese</p>
                </div>

                <div class="autor">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="11">
                <div class="foto">
                    <img src="/imagens/doce.png" alt="Docinhos">
                </div>

                <div class="receita">
                    <p>Docinhos pão-do-céu</p>
                </div>

                <div class="autor">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card" id="12">
                <div class="foto">
                    <img src="/imagens/asinhas.png" alt="Asinhas">
                </div>

                <div class="receita">
                    <p>Asinhas de frango ao barbecue</p>
                </div>

                <div class="autor">
                    <p>por Vania Steroski</p>
                </div>
            </div>
            </section>

            <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-content" class="card">
                        <div class="foto">
                            <img src="/imagens/asinhas.png" alt="Asinhas">
                        </div>

                        <div class="receita">
                            <p>Asinhas de frango ao barbecue</p>
                        </div>

                        <div class="autorContent">
                            <p>por Vania Steroski</p>
                        </div>
                    </div>
                    <p class="fechar">Fechar</p>
                </div>
            </div>
            <script src="/javascript/script.js"></script>
    {% endblock %}
        

